localhost

root * src

file_server
templates {
	extensions {
		# Uncomment this if you have the caddy-hitcounter plugin (https://github.com/mholt/caddy-hitcounter):
		# hitCounter {
		# 	style bright_green
		# 	pad_digits 6
		# }
	}
}
encode zstd gzip

try_files {path}.html {path}

# allow direct access to markdown but otherwise
# rewrite to docs index page to render it
@notDirectDocsMarkdown {
	path /docs/*
	not path *.md
}
rewrite @notDirectDocsMarkdown /docs/index.html

redir /docs/caddyfile/directives/basicauth /docs/caddyfile/directives/basic_auth 308
redir /docs/caddyfile/directives/skip_log /docs/caddyfile/directives/log_skip 308

reverse_proxy /api/* localhost:4444
