localhost

root * src

file_server
templates {
	extensions {
		# Uncomment this if you have the caddy-hitcounter plugin (https://github.com/mholt/caddy-hitcounter):
		# hitCounter {
		# 	style bright_green
		# 	pad_digits 6
		# }
	}
}
encode zstd gzip

try_files {path}.html {path}

redir /docs/json /docs/json/
redir /docs/modules /docs/modules/
rewrite /docs/json/* /docs/json/index.html
rewrite /docs/modules/* /docs/modules/index.html
rewrite /docs/* /docs/index.html

redir /docs/caddyfile/directives/basicauth /docs/caddyfile/directives/basic_auth 308
redir /docs/caddyfile/directives/skip_log /docs/caddyfile/directives/log_skip 308

reverse_proxy /api/* localhost:4444
