<!DOCTYPE html>
<html>
	<head>
		<title>Sponsor the Caddy Project</title>
		{{import "/includes/head.html"}}
		{{template "head"}}
		<link rel="stylesheet" href="/resources/css/marketing.css{{template "cacheBust"}}">
		<link rel="stylesheet" href="/resources/css/sponsor.css{{template "cacheBust"}}">
	</head>
	<body>
		<div class="hero">
			{{include "/includes/header.html" "dark-header"}}
			
			<div class="wrapper">
				<div class="hero-content">
					<h1>
						<div class="color-dodge">
							Lead your industry
						</div>
						<div class="subheading">
							Open source sponsors <b>lead the way</b> to a <b>sustainable solution</b> that doesn't compromise on <b>freedom</b> or <b>functionality</b>.
						</div>
					</h1>

					<div class="cols">
						<div class="col">
							<h3 class="plain">Caddy has no paywalled features</h3>
							<p>
								Competing products generate profits by selling commodity features with expensive* proprietary licenses. <b>Only Caddy is 100% truly open source with ALL its functionality.</b> Since nothing is proprietary, you have more control than any enterprise-licensed software.
							</p>
							<p class="footnote">
								* Traefik is <a href="https://marketplace.redhat.com/en-us/products/traefik-enterprise-edition/pricing" target="_blank">$20,000/yr</a> for 4 proxies. NGINX Plus starts at <a href="https://www.nginx.com/pricing/" target="_blank">$3,675/yr</a> per instance.
							</p>
						</div>
						<div class="col">
							<h3 class="plain">You wouldn't purchase software that has no support</h3>
							<p>
								So why would you rely on free software without support? Open source licenses grant you freedom but not assurances of help. A sponsorship ensures your tech stack gets supported and stays maintained.
							</p>
						</div>
						<div class="col">
							<h3 class="plain">Sponsorships benefit businesses and the community</h3>
							<p>
								With sponsorships, we don't have to restrict functionality or instances. Your business exceeds its product support requirements at lower costs, and can scale indefinitely. And the technology stays <b>truly</b> open source. Everyone wins.
							</p>
						</div>
					</div>
				</div>
			</div>

			<section class="transparent feature plans">
				<div class="wrapper">

					<div class="sides">
						<div class="left-side">
							<h2>Individuals</h2>
							<p>
								Whether you're a hobbyist, using Caddy professionally, or you just want to support the project, the Individual tiers are designed so you can be meaningfully involved.
							</p>
							<p>
								If you would like some basic support at this level, be sure to go with the Pro tier.
							</p>
						</div>
						<div class="right-side side-flex">
							<div class="indie plan">
								<div class="plan-header">
									<div class="plan-name">
										Indie
									</div>
									<div class="plan-price">
										$25<span class="plan-period">/mo.</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										Perfect for the individual developer to help sustain the project's ongoing progress.
									</p>
									<b>Benefits:</b>
									<ul class="check">
										<li>Exclusive access to <a href="https://matt.life/expert-caddy/">Expert Caddy</a></li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=9382" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											Choose Indie
										</a>
									</div>
								</div>
							</div>

							<div class="indie plan">
								<div class="plan-header">
									<div class="plan-name">
										Indie Pro
									</div>
									<div class="plan-price">
										$50<span class="plan-period">/mo.</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										Independent professionals find this valuable for private support over email.
									</p>
									<b>Benefits:</b>
									<ul class="check">
										<li>Exclusive access to <a href="https://matt.life/expert-caddy/">Expert Caddy</a></li>
										<li>Occasional email support</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=21876" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											Choose Indie Pro
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>



					<div class="sides">
						<div class="left-side">
							<h2>Startups</h2>
							<p>
								You're a-hustlin'! We get it. And we got your backend.
							</p>
							<p>
								These tiers are must-haves for any new business ventures. They provide extreme value to bootstrapped companies that are growing organically.
							</p>
							<p>
								Established businesses should look into the Business tiers below for more ample support and priority response.
							</p>
						</div>
						<div class="right-side side-flex">

							<div class="startup plan">
								<div class="plan-header">
									<div class="plan-name">
										Startup
									</div>
									<div class="plan-price">
										$99<span class="plan-period">/mo.</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										The ideal choice for bootstrapped, early-stage startups.
									</p>
									<b>Benefits:</b>
									<ul class="check">
										<li>Exclusive access to <a href="https://matt.life/expert-caddy/">Expert Caddy</a></li>
										<li>Occasional email support</li>
									</ul>
									<b>Professional services:</b>
									<ul class="minus">
										<li>No discount</li>
										<li class="check">Free onboarding call</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=9399" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											Choose Startup
										</a>
									</div>
								</div>
							</div>

							<div class="startup plan">
								<div class="plan-header">
									<div class="plan-name">
										Startup Pro
									</div>
									<div class="plan-price">
										$249<span class="plan-period">/mo.</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										Perfect if you want some extra assurance, services, and/or publicity.
									</p>
									<b>Benefits:</b>
									<ul class="check">
										<li>Exclusive access to <a href="https://matt.life/expert-caddy/">Expert Caddy</a></li>
										<li>Occasional email support</li>
										<li>Publicity</li>
										<li>Triage priority</li>
									</ul>
									<b>Professional services:</b>
									<ul class="check">
										<li>10% discount</li>
										<li>Free onboarding call</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=120792" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											Choose Startup Pro
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>


					<div class="sides">
						<div class="left-side">
							<h2>Businesses</h2>
							<p>
								Our professional sponsorships are prime for businesses of all sizes that count on Caddy.
							</p>
							<p>
								With an active sponsorship, we can respond to incidents more efficiently. We can prioritize your features and patches. And you'll have stronger guarantees that your web server will continue to be maintained.
							</p>
							<p>
								Business+ covers more services resulting in fewer bills, and offers a bigger discount on custom development.
							</p>
						</div>
						<div class="right-side side-flex">

							<div class="business plan">
								<div class="plan-header">
									<div class="plan-name">
										Business
									</div>
									<div class="plan-price">
										$999<span class="plan-period">/mo.</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										A must-have plan for any use of Caddy within companies.
									</p>
									<b>Benefits:</b>
									<ul class="check">
										<li>Exclusive access to <a href="https://matt.life/expert-caddy/">Expert Caddy</a> for everyone on your team</li>
										<li>Exclusive access to private development chat</li>
										<li>Email support</li>
										<li>Marketing</li>
									</ul>
									<b>Professional services:</b>
									<ul class="check">
										<li>20% discount (with 6 mo. commitment)</li>
										<li>Free onboarding call</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=9401" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											Choose Business
										</a>
									</div>
								</div>
							</div>

							<div class="business plan">
								<div class="plan-header">
									<div class="plan-name">
										Business+
									</div>
									<div class="plan-price">
										$2,999<span class="plan-period">/mo.</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										The must-have plan for any serious use of Caddy within companies. Covers support, patches, and onboarding.
									</p>
									<b>Benefits:</b>
									<ul class="check">
										<li>Exclusive access to <a href="https://matt.life/expert-caddy/">Expert Caddy</a> for everyone on your team</li>
										<li>Exclusive access to private development chat</li>
										<li>Limited dedicated support (email, chat, phone and video calls)</li>
										<li>Marketing</li>
										<li>Triage priority</li>
										<li>Development priority</li>
										<li>Custom branches/patches</li>
									</ul>
									<b>Professional services:</b>
									<ul class="check">
										<li>35% discount (with 6 mo. commitment)</li>
										<li>Free onboarding calls</li>
										<li>Custom legal (extra)</li>
										<li>Custom billing and invoicing</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=120793" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											Choose Business+
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>


					<div class="sides">
						<div class="left-side">
							<h2>Enterprises</h2>
							<p>
								You have enterprise requirements&mdash;and we have enterprise solutions. These are our ultimate support and development offerings which provide peace of mind that no other open source plan does.
							</p>
							<p>
								We advise that all large companies and enterprise organizations using Caddy should have an active plan which can mitigate costly incidents, train relevant teams, and provide the assurance of ongoing project maintenance.
							</p>
							<p>
								<b>Enterpise+ is the only plan that guarantees continued development without other sponsors.</b>
							</p>
							<p>
								⚠️ Limited stock. These tiers can sell-out in order to preserve service quality for existing customers.
							</p>
						</div>
						<div class="right-side side-flex">

							<div class="enterprise plan">
								<div class="plan-header">
									<div class="plan-name">
										Enterprise
									</div>
									<div class="plan-price">
										$5,900<span class="plan-period">/mo.</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										This premium sponsorship package offers everything most organizations need, and can be customized for your company.
									</p>
									<p>
										⚠️ Only <del>2</del> <strong>1</strong> remaining.
									</p>
									<b>Benefits:</b>
									<ul class="check">
										<li>Exclusive access to <a href="https://matt.life/expert-caddy/">Expert Caddy</a> for everyone in your company</li>
										<li>Exclusive access to private development chat</li>
										<li>Limited dedicated support (email, chat, phone and video calls)</li>
										<li>Marketing</li>
										<li>Triage priority</li>
										<li>Development priority</li>
										<li>Custom branches/patches</li>
										<li>Guaranteed response within 2 business days (excluding vacation)</li>
									</ul>
									<b>Professional services:</b>
									<ul class="check">
										<li>50-100% discount (with 6 mo. commitment)</li>
										<li>Free onboarding calls</li>
										<li>Custom legal (extra)</li>
										<li>Custom billing and invoicing</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=120794" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											Choose Enterprise
										</a>
									</div>
								</div>
							</div>

							<div class="enterprise plan">
								<div class="plan-header">
									<div class="plan-name">
										Enterprise+
									</div>
									<div class="plan-price">
										$11,900<span class="plan-period">/mo.</span>
									</div>
								</div>
								<div class="plan-content">
									<p>
										The ultimate plan to support the Caddy project, and the ONLY one that does not rely on other sponsors.
									</p>
									<p>
										⚠️ Only <strong>1</strong> available.
									</p>
									<b>Benefits:</b>
									<ul class="check">
										<li>Exclusive access to <a href="https://matt.life/expert-caddy/">Expert Caddy</a> for everyone in your company</li>
										<li>Exclusive access to private development chat</li>
										<li>Dedicated support (email, chat, phone and video calls)</li>
										<li>Marketing</li>
										<li>Top triage priority</li>
										<li>Top development priority</li>
										<li>Custom branches/patches</li>
										<li>Guaranteed response within 1 business day (excluding vacation)</li>
										<li>Regular check-ins/standups</li>
										<li>Influence over project roadmap</li>
										<li>Custom supply chain controls</li>
										<li>On-sites</li>
									</ul>
									<b>Professional services:</b>
									<ul class="check">
										<li>✨ <b>Included</b> (except on-call or extreme cases; with 1 year commitment)</li>
										<li>Free onboarding calls</li>
										<li>Custom legal (most without extra fee)</li>
										<li>Custom billing and invoicing</li>
									</ul>
									<div class="plan-action">
										<a href="https://github.com/sponsors/mholt/sponsorships?tier_id=334058" class="button purple">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-handshake" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
												<path d="M12 6l-3.293 3.293a1 1 0 0 0 0 1.414l.543 .543c.69 .69 1.81 .69 2.5 0l1 -1a3.182 3.182 0 0 1 4.5 0l2.25 2.25"></path>
												<path d="M12.5 15.5l2 2"></path>
												<path d="M15 13l2 2"></path>
											</svg>
											Choose Enterprise+
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>



				</div>

				<div class="overlay cards__inner"></div>
			</section>
		</div>


	
		<main>
			<section class="diagonal down dark feature">
				<div class="wrapper">
					<h2>
						Sponsorship answers
					</h2>
					<p>
						Too often we see the catastrophic results of deploying a web server haphazardly in a commercial environment, only to appeal to the community too late with too little information for a problem that takes too long to solve at that point&mdash;an incident that could have been mitigated with proper training and support.
					</p>
					<p>
						Our take on sponsorships is that all professional and business users of Caddy are expected to invest in a sponsorship, just as we expect tree branches to provide nutrition to their trunk and roots. Our sponsorships are not just feel-good donations. They provide crucial value to companies while sustaining ongoing maintenance.
					</p>
					<p>
						The original author of Caddy, Matt Holt, operates Dyanim, LLC to maintain the project and direct development alongside a global community. Sponsorships are fulfilled by Dyanim, LLC under the auspices of the executive sponsor, ZeroSSL.
					</p>
					<div class="cols cols-big">
						<div class="col">
							<h3 class="green">Are these software licenses?</h3>
							<p>
								<b>NO.</b> Sponsorships are separate products which provide support, development and training services, marketing, and various project management features for individuals, organizations, and companies. Your license to the software remains the same regardless of sponsorship status.
							</p>

							<h3 class="blue">What are professional services?</h3>
							<p>
								These include any services that are supplemental to routine project maintenance, such as onboarding, training, presenting, and custom development work.
							</p>

							<h3 class="purple">I need something not listed above.</h3>
							<p>
								That's OK - contact us and tell us what you need!
							</p>

							<h3 class="green">Is the only way to pay through GitHub?</h3>
							<p>
								Nope, our higher tiers can accommodate various forms of payment such as invoices, ACH, wire transfer, or even physical check if needed.
							</p>

							<h3 class="blue">Will we have to approve a new vendor?</h3>
							<p>
								Not likely! Our sponsorship subscriptions are managed by GitHub, which is often already an approved vendor for most businesses.
							</p>

							<h3 class="purple">Can we do a one-time sponsorship?</h3>
							<p>
								Yes! We call those donations, and welcome them warmly with gratitude.
							</p>
						</div>
						<div class="col">
							<h3 class="purple">Why sponsorships?</h3>
							<p>
								Professionals and businesses have numerous requirements that are not satisfied by open source licenses, but the wider community has numerous requirements that are not satisfied by proprietary licenses. For example, companies require support and advanced features that are simply too difficult to provide or develop without a business relationship.
							</p>
							<p>
								To bridge that gap, we offer sponsorships so that our software can remain freely usable while providing businesses the assurances they need when committing to such a crucial technology choice.
							</p>
							<p>
								We also have a lower tier for individuals who just want to support the project without the means of company funding.
							</p>
							<p>
								Our software is compelling because sponsorships keep it fully open without expensive, paid-only features that segment and divide the community. Instead, everyone running Caddy for their homelab or school project is using the same version of the software deployed by large enterprises around the world. That's really amazing, and sponsors make it possible.
							</p>

							<h3 class="blue">What if we fall into a category we can't budget for?</h3>
							<p>
								We would ask your product manager why they are deploying software without the means to support it. That said, a well-established business, for example, could sign up for a Startup-tier sponsorship if that is all the budget allows; it would be better than no safety net at all. However, your overall satisfaction will be higher with an appropriate sponsorship tier since we will be able to accommodate your situation better.
							</p>
						</div>
					</div>

				</div>
			</section>

			<section class="light feature">
				<div class="wrapper">
					<h2>
						Sponsorships are better
					</h2>
					<p>
						Neither companies nor projects are sustainable at scale by open source licenses alone. Some sort of business relationship must be entered to support the company's operations as well as the project's ongoing development.
					</p>
					<p>
						Typically this is solved by charging for the software or specific features, purchasing insurance, hiring a consultant, or tasking an in-house developer to learn and maintain the technology.
					</p>
					<p>
						Sponsorships offer a simple and profound solution to this problem with many advantages over the alternatives:
					</p>
					<div class="cols">
						<div class="col">
							<h3 class="green">Consultants</h3>
							<p>
								Consulting fees are high ($250-500/hr.) to offset the variable nature of the profession, and typically billed hourly, which can be stressful for customers trying to minimize their costs.
							</p>
							<p>
								Consultants vary and may have mixed skill sets rather than expertise in the topic at hand, for example a specific web server. You may also need to approve them as a vendor before doing business.
							</p>
							<p>
								Sponsorships have an affordable regular rate without a hard limit of hours to dispell stress lower your costs. You'll get direct access to the world experts on the software, and you can pay through a known vendor, GitHub.
							</p>
						</div>
						<div class="col">
							<h3 class="purple">Insurance</h3>
							<p>
								Sponsorships are not insurance -- they don't pay back money when there's an incident and can't legally be classified as any kind of coverage. Instead, they help reduce the likelihood and magnitude of incidents in the first place with a comprehensive integration strategy. We'll get to know your setup and help you deploy in the best way possible.
							</p>
							<p>
								Working with insurance is tedious and expensive, but sponsorships are much easier with less paperwork and legal complications.
							</p>
						</div>
						<div class="col">
							<h3 class="blue">In-house hire</h3>
							<p>
								The math is simple: a skilled, in-house developer salary may be $180,000/year. A sponsorship is one or two orders of magnitude less, usually $3k-12k/year, and it gives you access to the world experts.
							</p>
							<p>
								Sponsorships circumvent HR and hiring processes, and because of their ability to train your existing employees, you can still retain that knowledge in-house.
							</p>
							<p>
								If a hire leaves your company, so often does that knowledge. A sponsorship ensures that the skills can persist with your organization through turnover.
							</p>
						</div>
						<div class="col">
							<h3 class="blue">Nothing</h3>
							<p>
								It should go without saying that having <a href="https://words.filippo.io/dispatches/reciprocal/">direct access to the maintainers</a> of the software you rely on is better than having no support, no safety net, and no influence over the project's priorities.
							</p>
							<p>
								With open source software, you're solely on your own. You can appeal to the community, but you won't have a high-attention relationship that can adjust the priorities of the maintainers.
							</p>
						</div>
					</div>
				</div>
			</section>



			<section class="diagonal up light gray feature">
				<div class="wrapper">
					<h2>
						Tangible business results
					</h2>
					<p>
						Sponsorships help you keep your competitive edge, reduce your costs, and may even increase customer loyalty. You'll be able to meet requirements you never thought possible with pure open source.
					</p>
					<div class="cols">
						<div class="col">
							<h3 class="purple">Software assurance</h3>
							<p>
								It's not insurance. <b>It's better</b>. Gain the peace of mind knowing that your sponsorship helps sustain continued development of the project and that you have direct access to the maintainer.
							</p>
						</div>
						<div class="col">
							<h3 class="green">Increased customer loyalty</h3>
							<p>
								Customers feel more loyal toward companies that openly sponsor projects, especially those they use. <b>Tens of thousands</b> of Caddy users are more likely to become and stay your customers when you sponsor the project.
							</p>
						</div>
						<div class="col">
							<h3 class="blue">Lower costs, higher margins</h3>
							<p>
								Operate more efficiently with a Caddy sponsorship, which can prevent consulting fees, hiring expenses, catastrophic production failures, and inefficient configurations.
							</p>
						</div>
					</div>
				</div>
			</section>

		</main>

		{{include "/includes/footer.html"}}

<script>
// Original hover glowy effect code from here:
// https://codepen.io/inescodes/pen/PoxMyvX

const cardsContainer = $(".plans");
const cards = Array.from($$(".plan"));
const overlay = $(".overlay");

function applyOverlayMask(e) {
	const overlayEl = e.currentTarget;
	const x = e.pageX - cardsContainer.offsetLeft;
	const y = e.pageY - cardsContainer.offsetTop;
	overlayEl.style = `--opacity: 1; --x: ${x}px; --y:${y}px;`;
}

// when the card container resizes, adjust the sizes and positions of all the cards
const observer = new ResizeObserver(entries => {
	entries.forEach(entry => {
		cards.forEach((cardEl, idx) => {
			overlay.children[idx].style.width = `${cardEl.offsetWidth}px`;
			overlay.children[idx].style.height = `${cardEl.offsetHeight+1}px`; // not sure why +1 is needed, but anyway...
			overlay.children[idx].style.top = `${cardEl.offsetTop}px`;
			overlay.children[idx].style.left = `${cardEl.offsetLeft}px`;
		});
	});
});
observer.observe(cardsContainer);

function initOverlayCard(cardEl) {
	const overlayCard = document.createElement("div");
	overlayCard.classList = cardEl.classList;
	overlay.append(overlayCard);
}

cards.forEach(initOverlayCard);
cardsContainer.addEventListener("pointermove", applyOverlayMask);
</script>



	</body>
</html>
