/*
	Derived from https://gist.github.com/nicolashery/5765395
	Adjusted to be high-contrast
*/


/*
	Solarized Light (High Contrast)
	Derived from http://ethanschoonover.com/solarized
*/
.chroma {
	background: linear-gradient(0deg, #f8fbfd 0%, #edf5fd 100%);
	color: #254048;
}
.chroma .c { color: #93a1a1 } /* Comment */
.chroma .err { color: #586e75 } /* Error */
.chroma .g { color: #586e75 } /* Generic */
.chroma .k { color: #577b00 } /* Keyword */
.chroma .l { color: #586e75 } /* Literal */
.chroma .n { color: #586e75 } /* Name */
.chroma .o { color: #577b00 } /* Operator */
.chroma .x { color: #d03d00 } /* Other */
.chroma .p { color: #586e75 } /* Punctuation */
.chroma .cm { color: #93a1a1 } /* Comment.Multiline */
.chroma .cp { color: #577b00 } /* Comment.Preproc */
.chroma .c1 { color: #93a1a1 } /* Comment.Single */
.chroma .cs { color: #577b00 } /* Comment.Special */
.chroma .gd { color: #dc322f; background-color: #efdede } /* Generic.Deleted */
.chroma .ge { color: #586e75; font-style: italic } /* Generic.Emph */
.chroma .gr { color: #dc322f } /* Generic.Error */
.chroma .gh { color: #d03d00 } /* Generic.Heading */
.chroma .gi { color: #577b00; background-color: #ddecdc } /* Generic.Inserted */
.chroma .go { color: #586e75 } /* Generic.Output */
.chroma .gp { color: #586e75 } /* Generic.Prompt */
.chroma .gs { color: #586e75; font-weight: bold } /* Generic.Strong */
.chroma .gu { color: #d03d00 } /* Generic.Subheading */
.chroma .gt { color: #586e75 } /* Generic.Traceback */
.chroma .kc { color: #d03d00 } /* Keyword.Constant */
.chroma .kd { color: #0673bf } /* Keyword.Declaration */
.chroma .kn { color: #577b00 } /* Keyword.Namespace */
.chroma .kp { color: #577b00 } /* Keyword.Pseudo */
.chroma .kr { color: #0673bf } /* Keyword.Reserved */
.chroma .kt { color: #dc322f } /* Keyword.Type */
.chroma .ld { color: #586e75 } /* Literal.Date */
.chroma .m { color: #008076 } /* Literal.Number */
.chroma .s { color: #008076 } /* Literal.String */
.chroma .na { color: #586e75 } /* Name.Attribute */
.chroma .nb { color: #B58900 } /* Name.Builtin */
.chroma .nc { color: #0673bf } /* Name.Class */
.chroma .no { color: #d03d00 } /* Name.Constant */
.chroma .nd { color: #0673bf } /* Name.Decorator */
.chroma .ni { color: #d03d00 } /* Name.Entity */
.chroma .ne { color: #d03d00 } /* Name.Exception */
.chroma .nf { color: #0673bf } /* Name.Function */
.chroma .nl { color: #586e75 } /* Name.Label */
.chroma .nn { color: #586e75 } /* Name.Namespace */
.chroma .nx { color: #586e75 } /* Name.Other */
.chroma .py { color: #586e75 } /* Name.Property */
.chroma .nt { color: #0673bf } /* Name.Tag */
.chroma .nv { color: #0673bf } /* Name.Variable */
.chroma .ow { color: #577b00 } /* Operator.Word */
.chroma .w { color: #586e75 } /* Text.Whitespace */
.chroma .mf { color: #008076 } /* Literal.Number.Float */
.chroma .mh { color: #008076 } /* Literal.Number.Hex */
.chroma .mi { color: #008076 } /* Literal.Number.Integer */
.chroma .mo { color: #008076 } /* Literal.Number.Oct */
.chroma .sb { color: #008076 } /* Literal.String.Backtick */
.chroma .sc { color: #008076 } /* Literal.String.Char */
.chroma .sd { color: #586e75 } /* Literal.String.Doc */
.chroma .s2 { color: #008076 } /* Literal.String.Double */
.chroma .se { color: #d03d00 } /* Literal.String.Escape */
.chroma .sh { color: #586e75 } /* Literal.String.Heredoc */
.chroma .si { color: #008076 } /* Literal.String.Interpol */
.chroma .sx { color: #008076 } /* Literal.String.Other */
.chroma .sr { color: #dc322f } /* Literal.String.Regex */
.chroma .s1 { color: #008076 } /* Literal.String.Single */
.chroma .ss { color: #008076 } /* Literal.String.Symbol */
.chroma .bp { color: #0673bf } /* Name.Builtin.Pseudo */
.chroma .vc { color: #0673bf } /* Name.Variable.Class */
.chroma .vg { color: #0673bf } /* Name.Variable.Global */
.chroma .vi { color: #0673bf } /* Name.Variable.Instance */
.chroma .il { color: #008076 } /* Literal.Number.Integer.Long */



/*
	Solarized Dark (High Contrast)
	Derived from http://ethanschoonover.com/solarized
*/
.dark .chroma:not(.light) {
	background: linear-gradient(to bottom, #24454f, transparent);
	color: #93a1a1;
}
.dark .chroma:not(.light) .c { color: #586e75 } /* Comment */
.dark .chroma:not(.light) .err { color: #93a1a1 } /* Error */
.dark .chroma:not(.light) .g { color: #93a1a1 } /* Generic */
.dark .chroma:not(.light) .k { color: #76a507 } /* Keyword */
.dark .chroma:not(.light) .l { color: #93a1a1 } /* Literal */
.dark .chroma:not(.light) .n { color: #93a1a1 } /* Name */
.dark .chroma:not(.light) .o { color: #76a507 } /* Operator */
.dark .chroma:not(.light) .x { color: #ec662e } /* Other */
.dark .chroma:not(.light) .p { color: #93a1a1 } /* Punctuation */
.dark .chroma:not(.light) .cm { color: #586e75 } /* Comment.Multiline */
.dark .chroma:not(.light) .cp { color: #76a507 } /* Comment.Preproc */
.dark .chroma:not(.light) .c1 { color: #586e75 } /* Comment.Single */
.dark .chroma:not(.light) .cs { color: #76a507 } /* Comment.Special */
.dark .chroma:not(.light) .gd { color: #dc322f; background-color: #efdede } /* Generic.Deleted */
.dark .chroma:not(.light) .ge { color: #93a1a1; font-style: italic } /* Generic.Emph */
.dark .chroma:not(.light) .gr { color: #dc322f } /* Generic.Error */
.dark .chroma:not(.light) .gh { color: #ec662e } /* Generic.Heading */
.dark .chroma:not(.light) .gi { color: #76a507 } /* Generic.Inserted */
.dark .chroma:not(.light) .go { color: #93a1a1 } /* Generic.Output */
.dark .chroma:not(.light) .gp { color: #93a1a1 } /* Generic.Prompt */
.dark .chroma:not(.light) .gs { color: #93a1a1; font-weight: bold } /* Generic.Strong */
.dark .chroma:not(.light) .gu { color: #ec662e } /* Generic.Subheading */
.dark .chroma:not(.light) .gt { color: #93a1a1 } /* Generic.Traceback */
.dark .chroma:not(.light) .kc { color: #ec662e } /* Keyword.Constant */
.dark .chroma:not(.light) .kd { color: #0090f5 } /* Keyword.Declaration */
.dark .chroma:not(.light) .kn { color: #76a507 } /* Keyword.Namespace */
.dark .chroma:not(.light) .kp { color: #76a507 } /* Keyword.Pseudo */
.dark .chroma:not(.light) .kr { color: #0090f5 } /* Keyword.Reserved */
.dark .chroma:not(.light) .kt { color: #dc322f } /* Keyword.Type */
.dark .chroma:not(.light) .ld { color: #93a1a1 } /* Literal.Date */
.dark .chroma:not(.light) .m { color: #09a598 } /* Literal.Number */
.dark .chroma:not(.light) .s { color: #09a598 } /* Literal.String */
.dark .chroma:not(.light) .na { color: #93a1a1 } /* Name.Attribute */
.dark .chroma:not(.light) .nb { color: #B58900 } /* Name.Builtin */
.dark .chroma:not(.light) .nc { color: #0090f5 } /* Name.Class */
.dark .chroma:not(.light) .no { color: #ec662e } /* Name.Constant */
.dark .chroma:not(.light) .nd { color: #0090f5 } /* Name.Decorator */
.dark .chroma:not(.light) .ni { color: #ec662e } /* Name.Entity */
.dark .chroma:not(.light) .ne { color: #ec662e } /* Name.Exception */
.dark .chroma:not(.light) .nf { color: #0090f5 } /* Name.Function */
.dark .chroma:not(.light) .nl { color: #93a1a1 } /* Name.Label */
.dark .chroma:not(.light) .nn { color: #93a1a1 } /* Name.Namespace */
.dark .chroma:not(.light) .nx { color: #93a1a1 } /* Name.Other */
.dark .chroma:not(.light) .py { color: #93a1a1 } /* Name.Property */
.dark .chroma:not(.light) .nt { color: #0090f5 } /* Name.Tag */
.dark .chroma:not(.light) .nv { color: #0090f5 } /* Name.Variable */
.dark .chroma:not(.light) .ow { color: #76a507 } /* Operator.Word */
.dark .chroma:not(.light) .w { color: #93a1a1 } /* Text.Whitespace */
.dark .chroma:not(.light) .mf { color: #09a598 } /* Literal.Number.Float */
.dark .chroma:not(.light) .mh { color: #09a598 } /* Literal.Number.Hex */
.dark .chroma:not(.light) .mi { color: #09a598 } /* Literal.Number.Integer */
.dark .chroma:not(.light) .mo { color: #09a598 } /* Literal.Number.Oct */
.dark .chroma:not(.light) .sb { color: #09a598 } /* Literal.String.Backtick */
.dark .chroma:not(.light) .sc { color: #09a598 } /* Literal.String.Char */
.dark .chroma:not(.light) .sd { color: #93a1a1 } /* Literal.String.Doc */
.dark .chroma:not(.light) .s2 { color: #09a598 } /* Literal.String.Double */
.dark .chroma:not(.light) .se { color: #ec662e } /* Literal.String.Escape */
.dark .chroma:not(.light) .sh { color: #93a1a1 } /* Literal.String.Heredoc */
.dark .chroma:not(.light) .si { color: #09a598 } /* Literal.String.Interpol */
.dark .chroma:not(.light) .sx { color: #09a598 } /* Literal.String.Other */
.dark .chroma:not(.light) .sr { color: #dc322f } /* Literal.String.Regex */
.dark .chroma:not(.light) .s1 { color: #09a598 } /* Literal.String.Single */
.dark .chroma:not(.light) .ss { color: #09a598 } /* Literal.String.Symbol */
.dark .chroma:not(.light) .bp { color: #0090f5 } /* Name.Builtin.Pseudo */
.dark .chroma:not(.light) .vc { color: #0090f5 } /* Name.Variable.Class */
.dark .chroma:not(.light) .vg { color: #0090f5 } /* Name.Variable.Global */
.dark .chroma:not(.light) .vi { color: #0090f5 } /* Name.Variable.Instance */
.dark .chroma:not(.light) .il { color: #09a598 } /* Literal.Number.Integer.Long */
