* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Maven Pro, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	tab-size: 4;
	-moz-tab-size: 4;
}

#v1-banner {
	display: block;
	background: #5ea9a2;
	color: #fff;
	text-align: center;
	padding: 15px 25px;
	font-size: 18px;
	text-decoration: none;
}

#v1-banner:hover {
	background: #4e968f;
}

.wrapper {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
}

.text-center {
	text-align: center;
}

a {
	color: #0694f1;
	text-decoration: none;
}

a:hover {
	color: #ff3f2c;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 25px 0;
}

#logo {
	height: 40px;
}

header nav {
	text-align: right;
	line-height: 40px;
}

header nav a {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: inherit;
}

header nav a:hover {
	color: #ff3f2c;
}

header nav a.current {
	font-weight: bold;
}

header nav .button {
	margin: 0 0 0 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.button {
	border-radius: 2em;
	padding: 10px 20px;
	margin: 15px 30px 15px 0;
	height: auto;
	transition: all .2s;
	text-decoration: none;
	display: inline-block;
}

.button:hover {
	transform: scale(1.05);
}

.button:active {
	transform: translateY(2px);
}

.button.red {
	background-color: #d9552b;
	color: white;
}

.button.red:hover {
	background-color: #fd511a;
}

.button.blue {
	background-color: #009ae6;
	color: white;
}

.button.blue:hover {
	background-color: #00aaff;
}

.button.gray {
	background-color: #4c6a79;
	color: white;
}

.button.gray:hover {
	background-color: #4f8098;
}

.button.big {
	font-size: 125%;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 50px;
	margin-right: 20px;
}

p .button {
	font-size: 18px;
	padding: 12px 30px;
}

article a:hover {
	text-decoration: underline;
}


footer {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	border-top: 1px solid #CCC;
	padding-top: 50px;
	padding-bottom: 100px;
	line-height: 125%;
}

footer > div {
	width: 50%;
}

#footer-logo {
	float: left;
	max-width: 175px;
	margin-right: 35px;
	vertical-align: middle;
	margin-top: -4px;
}

.copyright {
	text-align: right;
	font-size: 14px;
	color: #999;
}

@media (max-width: 900px) {
	footer {
		flex-direction: column;
		margin-top: 0;
		padding: 20px 0;
	}

	footer > div {
		width: initial;
		text-align: center;
		margin: 10px 0;
	}

	#footer-logo {
		float: none;
		display: block;
		margin: 0 auto 25px;
	}

	.copyright {
		text-align: center;
	}
}


/* font resources */

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 100;
	font-display: swap;
	src: url("/resources/fonts/Inter-Thin-BETA.woff2") format("woff2"),
		 url("/resources/fonts/Inter-Thin-BETA.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 100;
	font-display: swap;
	src: url("/resources/fonts/Inter-ThinItalic-BETA.woff2") format("woff2"),
		 url("/resources/fonts/Inter-ThinItalic-BETA.woff") format("woff");
}
  

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 200;
	font-display: swap;
	src: url("/resources/fonts/Inter-ExtraLight-BETA.woff2") format("woff2"),
		 url("/resources/fonts/Inter-ExtraLight-BETA.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 200;
	font-display: swap;
	src: url("/resources/fonts/Inter-ExtraLightItalic-BETA.woff2") format("woff2"),
		 url("/resources/fonts/Inter-ExtraLightItalic-BETA.woff") format("woff");
}
  

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 300;
	font-display: swap;
	src: url("/resources/fonts/Inter-Light-BETA.woff2") format("woff2"),
		 url("/resources/fonts/Inter-Light-BETA.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 300;
	font-display: swap;
	src: url("/resources/fonts/Inter-LightItalic-BETA.woff2") format("woff2"),
		 url("/resources/fonts/Inter-LightItalic-BETA.woff") format("woff");
}
  

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url("/resources/fonts/Inter-Regular.woff2") format("woff2"),
		 url("/resources/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 400;
	font-display: swap;
	src: url("/resources/fonts/Inter-Italic.woff2") format("woff2"),
		 url("/resources/fonts/Inter-Italic.woff") format("woff");
}
  

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 500;
	font-display: swap;
	src: url("/resources/fonts/Inter-Medium.woff2") format("woff2"),
		 url("/resources/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 500;
	font-display: swap;
	src: url("/resources/fonts/Inter-MediumItalic.woff2") format("woff2"),
		 url("/resources/fonts/Inter-MediumItalic.woff") format("woff");
}
  

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 600;
	font-display: swap;
	src: url("/resources/fonts/Inter-SemiBold.woff2") format("woff2"),
		 url("/resources/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 600;
	font-display: swap;
	src: url("/resources/fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
		 url("/resources/fonts/Inter-SemiBoldItalic.woff") format("woff");
}
  

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 700;
	font-display: swap;
	src: url("/resources/fonts/Inter-Bold.woff2") format("woff2"),
		 url("/resources/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 700;
	font-display: swap;
	src: url("/resources/fonts/Inter-BoldItalic.woff2") format("woff2"),
		 url("/resources/fonts/Inter-BoldItalic.woff") format("woff");
}
  

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 800;
	font-display: swap;
	src: url("/resources/fonts/Inter-ExtraBold.woff2") format("woff2"),
		 url("/resources/fonts/Inter-ExtraBold.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 800;
	font-display: swap;
	src: url("/resources/fonts/Inter-ExtraBoldItalic.woff2") format("woff2"),
		 url("/resources/fonts/Inter-ExtraBoldItalic.woff") format("woff");
}
  

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 900;
	font-display: swap;
	src: url("/resources/fonts/Inter-Black.woff2") format("woff2"),
		 url("/resources/fonts/Inter-Black.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 900;
	font-display: swap;
	src: url("/resources/fonts/Inter-BlackItalic.woff2") format("woff2"),
		 url("/resources/fonts/Inter-BlackItalic.woff") format("woff");
}
