body {
	background-color: #060e17;
	color: #bdd6f7;
}

#search {
	background: rgb(28, 52, 79);
	color: #bdd6f7;
}
#search:focus {
	background: rgb(46, 70, 96);
}

#paper1,
#paper2 {
	background-color: #030a11;
}
.paper3 {
	background-color: #051628;
}

#logo {
	/* TODO: Add some color */
	filter: invert(1) opacity(.35);
}

#logo-docs {
	color: #5aa3dc;
}

.breadcrumbs {
	color: #5aa3dc;
}

main nav li a {
	color: #668d9b;
}

main nav ul li a:hover {
	color: #5aa3dc;
}

main nav ul li a.current {
	background-color: #061b35;
}

.breadcrumbs {
	border-color: #061b35;
}

h1 {
	color: #5aa3dc;
}

code {
	background-color: #122844;
}

code.cmd {
	background-color: #000;
	color: #ccc;
}

.json .key a:not([href]) {
	color: #bdd6f7
}

#hovercard,
.arrow-box {
	background-color: #0a192b; 
}

.arrow-box:after {
	border-bottom-color: #0a192b;
}

#hovercard .module-link:hover {
	background: #0f2c50;
}

#hovercard .module-link-description {
	color: rgb(167, 167, 167);
}

#hovercard-namespace-box,
#hovercard-inline-link {
	border-color: #0a2b53;
}

article aside.tip {
	color: #8c81e4;
}

th {
	background-color: #142638;
}

th,
td {
	border-bottom-color: #233444;
}

/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu {
	width: 500px;
}

/* Arrow triangle between dropdown and input */
.algolia-autocomplete .ds-dropdown-menu::before {
	background: #060e17 !important;
	border-color: #bdd6f79c;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
	background: #060e17 !important;
	border-color: #bdd6f79c;
}

/* Selection highlight */
.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple,
.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
	background: #061b35 !important;
}

/* Main background */
.algolia-autocomplete .algolia-docsearch-suggestion {
	background: #060e17 !important;
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
	color: darkgray;
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
	color: gray;
}

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title {
	font-weight: bold;
	color: #bdd6f7;
}

/* Description description (eg. Bootstrap currently works...) */
.algolia-autocomplete .algolia-docsearch-suggestion--text {
	font-size: 0.8rem;
	color: gray;
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
	color: #fff;
}
