.bgtext,
.demobox {
	font-family: Poppins, ui-rounded;
}


.hero {
	padding-bottom: 20vw;
}

.hero-content {
	padding-bottom: 100px;
}

.demobox .or {
	margin: -1em 0 1em;
}



h1 {
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 0;
	line-height: .9;

	background-image: unset;
	-webkit-background-clip: unset;
	background-clip: unset;
	-webkit-text-fill-color: unset;
}

h1 .color-dodge {
	mix-blend-mode: color-dodge;
}

h1 .the {
	font-size: 60%;
	line-height: 1;
}

h1 .subheading  {
	margin-top: .75em;
}

h3 a {
	color: inherit;
}


.sponsors-leaders {
	position: relative;
	text-align: center;
	margin: 75px auto;
	padding: 35px;
	z-index: 0;
}

.sponsors-leaders::before {
	content: "";
	position: absolute;
	padding: 40px;
	background-color: rgb(207 27 189 / .2);
	filter: blur(10px);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	pointer-events: none;
}

.sponsors-leaders h3 {
	color: #EB5EDD;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 2em;
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

.sponsor-logos {
	display: flex;
	column-gap: 50px;
	row-gap: 25px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 900px;
	margin: 1.5em auto;
}

.sponsors-divider {
	border-top: 1px solid #634772;
	max-width: 200px;
	width: 100%;
	margin: 0 auto;
}





.wavy-top {
	background-color: #C4D5E0;
	margin-top: -10vw;
	position: relative;
	z-index: 0;
	padding-top: 14vw;
	padding-bottom: 300px;
}

.wavy-top::before {
	content: "";
	position: absolute;
	top: -16vw;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('/resources/images/home-curvey-bg.svg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	z-index: -1;
}

.bgtext {
	color: #86A6A3;
	opacity: .5;
	width: 90%;
	min-width: 65vw;
	max-width: 1200px;
	font-size: min(15vw, 300px);
	text-align: center;
	line-height: .85;
	font-weight: 800;
	text-transform: uppercase;
	mix-blend-mode: color-burn;
	pointer-events: none;
	
	position: absolute;
	top: 5vw;
	left: 50%;
	transform: translateX(-50%);
}

.bgtext .site-on {
	font-size: 85%;
}

.wavy-top h2 {
	color: #003E4B;
	font-size: min(3vw, 52px);
	text-align: center;
	width: 60vw;
	max-width: 950px;
	font-weight: normal;
	margin: 0 auto 200px;
	line-height: 2.5em;
}

.wavy-top h2 b,
.section-upset b {
	font-weight: 800;
}



.section-upset {
	background: white;
	max-width: 1600px;
	margin: -350px auto 0;
	padding: 100px 50px 0;
	border-radius: 20px;
	z-index: 0;
	position: relative;
	box-shadow: 0 -15px 20px -2px rgb(0 0 0 / .1);
}

.section-upset h2 {
	background: linear-gradient(195deg, rgb(6, 79, 107) 25%, rgba(139, 189, 224, 1) 49%, rgb(72, 129, 164)50%, rgb(8, 44, 58) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;

	font-size: 80px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 100px;
	max-width: none;
}








.testimonials-container {
	height: 80vh;
	position: relative;
}
.testimonials {
	--testimonial-spacing: 25px;
	gap: var(--testimonial-spacing);
	display: flex;
	flex-wrap: wrap;
	padding-top: 75px;
	padding-bottom: 75px;
	height: 100%;
	overflow-y: auto;
	margin-top: 50px;
}
.testimonial-col {
	flex: 1;
	min-width: 250px;
}
.testimonials-container::before {
	content: "";
	background: linear-gradient(0deg, #f5f8f9 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, #f5f8f9 100%);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	z-index: 1;
}
.testimonial-picture {
	width: 60px;
	border-radius: 50%;
}
.testimonial {
	display: flex;
	align-items: flex-start;
	gap: 1em;
	border: 1px solid rgb(222, 233, 240);
	border-radius: 5px;
	padding: 1em;
	margin: var(--testimonial-spacing) 0;
	background: white;
}
.testimonial-quote {
	margin-bottom: 1em;
	font-size: 16px;
	line-height: 1.4;
}
.testimonial-name,
.testimonial-role {
	font-size: 90%;
}
.testimonial-name {
	font-weight: bold;
	margin-bottom: .5em;
	color: inherit;
	text-decoration: none;
}
.testimonial-name:hover {
	color: inherit;
}
.testimonial-name[href]:hover {
	text-decoration: underline;
}
.testimonial-name::before {
	content: '—';
}
.testimonial-role {
	color: var(--text-color-muted);
	font-style: italic;
}
.testimonial-role a {
	color: inherit;
}
.testimonial-role a:not([href]) {
	text-decoration: none;
	color: inherit;
}




.smallstep,
.franken-logo {
	max-width: 150px;
	margin-top: 1em;
}

.gold {
	color: gold;
	background: linear-gradient(63deg, rgba(212,167,36,1) 8%, rgba(251,228,63,1) 50%, rgba(241,218,57,1) 75%); 
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.col .cite {
	font-size: 75%;
}

img.cite {
	width: 100%;
	max-width: 600px;
	display: block;
	margin: 0 auto;
}


.demobox {
	position: relative;
	color: #003e4b;
	background: radial-gradient(circle at 200px 100px, rgba(184,255,239,1) 0%, rgba(234,249,255,1) 280px);
	font-size: 20px;
	padding: 50px;
	border-radius: 15px;
	margin-top: 200px;
}

.demobox h2 {
	font-size: 90px;
	font-weight: 700;
	max-width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	white-space: nowrap;
	margin-top: -1.65em;

	background: linear-gradient(0deg, rgba(27,180,186,1) 10%, rgba(0,61,75,1) 50%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.demobox p {
	margin-bottom: 2em;
}

.demo-ips {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}

.demo-ips code {
	background: #ecffff;
	display: flex;
	border-radius: 5px;
	box-shadow: 0 4px 16px rgb(0 0 0 / .1);
}

.record-type,
.demo-ip {
	display: block;
	padding: 10px 20px;
	overflow-wrap: anywhere;
}

.record-type {
	color: #6ea9b7;
	border-right: 1px solid #cef4f1;
}

.demo-help {
	border-top: 1px solid #b5d3d9;
	font-size: 75%;
	color: #628991;
	font-family: Inter;
	max-width: 800px;
}

.demo-help p {
	margin: 10px 0;
}

.experts a {
	word-break: break-word;
}




.frankenphp.dark {
	background-color: rgb(35, 1, 67);
}
.frankenphp h2 {
	color: #b3d133;
}
.frankenphp img.franken-mascot {
	max-height: 500px;
}
.franken.button {
	background: #b3d133;
	color: rgb(35, 1, 67);
	border: 0;
}
p.endnote {
	font-size: 75%;
	opacity: .65;
}


@media (max-width: 1350px) {
	h1 {
		font-size: 95px;
	}

	h1 .subheading {
		font-size: 30px;
	}
}


@media (max-width: 1000px) {
	h1 {
		text-align: center;
	}

	.action-buttons {
		margin-bottom: 55px;
		justify-content: center;
	}

	.bgtext {
		font-size: 25vw;
		opacity: .25;
	}

	.wavy-top h2 {
		font-size: 5vw;
		width: 80%;
		max-width: 700px;
		line-height: 2em;
	}

	.section-upset {
		padding: 50px 15px 0;
	}

	.section-upset h2 {
		font-size: 50px;
	}
}

@media (max-width: 700px) {
	h1 {
		font-size: 55px;
	}

	.action-buttons {
		display: flex;
		flex-direction: column;
	}

	.demobox h2 {
		font-size: 40px;
		margin-top: -1.5em;
	}

	.demobox {
		font-size: 16px;
		padding: 30px;
	}

	.demobox .record-type {
		word-wrap: break-word;
		padding: 10px 15px;
	}

	.demobox .demo-ip {
		padding: 10px 10px;
	}

	.display code {
		font-size: 90%;
		padding: 20px;
	}
}
