.hero-content {
	margin-bottom: 0;
	padding-bottom: 50px;
}

/* .datagrid {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	margin-top: 50px;
}

.datagrid h4 {
	color: #668591;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: .5em;
	min-width: 200px;
} */

.legend {
	margin-bottom: -100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	color: var(--text-color-muted);
	text-align: center;
	max-width: 750px;
	line-height: 1.5;
}

.legend .nonstandard {
	font-weight: bold;
}

.feature-list {
	font-size: 90%;
	margin: 50px 0 125px;
}

.feature-list:last-child {
	margin-bottom: 0;
}

.feature-row {
	display: grid;
	grid: auto / 1fr 3fr 2fr;
	gap: 2em;
	padding: 2em 0;
	border-bottom: 2px dashed #a4c8ff25; /* #e6eaf0 */
}

.feature-row:last-child {
	padding-bottom: 0;
}

.feature-row .benefits {
	color: var(--text-color-muted);
	font-weight: 500;
}

.feature-row .detail {
	font-weight: 500;
}

.feature-row ul.detail {
	margin-left: 1em;
}

.feature-row ul li {
	margin-bottom: .5em;
}

.feature-row:last-child {
	border-bottom: none;
}

.nonstandard {
	color: #e76100; /* #005c94 */
}

.dark .nonstandard {
	color: #fb8a26;
}


/* TODO: Figure this out */
@media (max-width: 800px) {
	.feature-row {
		grid: repeat(3, auto) / 1fr;
	}
}