.bgtext,
.demobox {
	font-family: Poppins, ui-rounded;
}


.hero {
	padding-bottom: 20vw;
}

.hero-content {
	padding-bottom: 100px;
}



h1 {
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 0;

	background-image: unset;
	-webkit-background-clip: unset;
	background-clip: unset;
	-webkit-text-fill-color: unset;
}

h1 .color-dodge {
	mix-blend-mode: color-dodge;
}

h1 .the {
	font-size: 60%;
	line-height: 1;
}

h1 .subheading  {
	margin-top: .75em;
}



.asides {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 100px auto 150px auto;
	align-items: center;
}

.hero-content .asides {
	margin-top: 0;
	margin-bottom: 75px;
}

.asides.top {
	align-items: stretch;
}

.asides > * { 
	flex: 1;
	margin-right: 50px;
	min-width: 0; /* kind of a hack that allows proper sizing of pre children; see https://weblog.west-wind.com/posts/2016/feb/15/flexbox-containers-pre-tags-and-managing-overflow */
	min-width: 300px;
}

.asides > :last-child {
	margin-right: 0;
}

.asides-40-60 > :first-child { max-width: 40%; }
.asides-40-60 > :last-child { max-width: 60%; }
.asides-60-40 > :first-child { max-width: 60%; }
.asides-60-40 > :last-child { max-width: 40%; }

.asides h2 {
	text-align: left;
	max-width: none;
}

.asides p {
	margin-left: 0;
	margin-right: 0;
}

.action-buttons {
	display: flex;
	gap: 1.5em;
	margin-top: 55px;
}




.caption {
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
}

.hero-content .caption {
	color: #fff;
}

#video-demo {
	display: block;
	margin-bottom: 2em;
}

div.ap-wrapper div.ap-player {
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
	transform: scale(1.1);
	border-radius: 10px;
}

div.ap-wrapper:fullscreen div.ap-player {
	transform: none;
}

.ap-player pre.ap-terminal {
	border-color: transparent;
	background-color: transparent;
}

.display {
	perspective: 1500px;
}

.display code {
	border-radius: 10px;
	width: 100%;
}

.display code {
	max-width: 800px;
	font-size: 110%;
	display: block;
	position: relative;
	padding: 20px 40px;
	white-space: pre;
	font-weight: bold;
	overflow-x: auto;
	box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
}
.display.left code {
	box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.1);
}

.display.right > * {
	transform: rotateY(-25deg);
}
.display.left > * {
	transform: rotateY(25deg);
}

.display code.light {
	background: #fff linear-gradient(135deg, rgba(255,255,255,0) 0%,rgba(241,241,241,0.5) 46%,rgba(225,225,225,0.5) 46.25%,rgba(246,246,246,0) 100%);
	color: #222;
}

.display code.dark,
.ap-player {
	/* background: #333 linear-gradient(135deg, rgba(0, 0, 0, 0) 0%,rgba(125, 125, 125, 0.3) 46%,rgba(45, 45, 45, 0.8) 46.8%,rgba(0, 0, 0, 0) 100%); */
	background: rgb(0 0 0 / .7) linear-gradient(135deg, transparent 0%, rgb(200 200 200 / 0.25) 46%, rgb(200 200 200 / .15) 46.5%, transparent 100%);
	color: #fff;
}

.light .display code.dark {
	background: #333 linear-gradient(135deg, rgba(0, 0, 0, 0) 0%,rgba(125, 125, 125, 0.3) 46%,rgba(45, 45, 45, 0.8) 46.8%,rgba(0, 0, 0, 0) 100%);
}

.display .comment {
	color: gray;
}

.blinking {
	animation: blinking 1s infinite;
	background-color: #fff;
	width: .5em;
	height: 1.2em;
	position: relative;
	top: 5px;
	display: inline-block;
}

@keyframes blinking {
	0%   { background-color: #fff; }
	45%  { background-color: #fff; }
	60%  { background-color: transparent; }
	99%  { background-color: transparent; }
	100% { background-color: #fff; }
}


.rollover-green,
.rollover-purple,
.rollover-blue,
.rollover-yellow {
	transition: background-color 250ms;
}

.dark .rollover-green.show { background-color: #41e68e2b; }
.dark .rollover-purple.show { background-color: #a52fa55f; }
.dark .rollover-blue.show { background-color: #0a62aa5b; }
.dark .rollover-yellow.show { background-color: #ffcb5064; }

.light .rollover-green.show { background-color: #41e68e4b; }
.light .rollover-purple.show { background-color: #a52fa545; }
.light .rollover-blue.show { background-color: #0a62aa3a; }
.light .rollover-yellow.show { background-color: #ffcb5064; }



.sponsors-leaders {
	position: relative;
	text-align: center;
	margin: 75px auto;
	padding: 35px;
	z-index: 0;
}

.sponsors-leaders::before {
	content: "";
	position: absolute;
	padding: 40px;
	background-color: rgb(207 27 189 / .2);
	filter: blur(10px);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	pointer-events: none;
}

.sponsors-leaders h3 {
	color: #EB5EDD;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 2em;
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

.sponsor-logos {
	display: flex;
	column-gap: 50px;
	row-gap: 25px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 900px;
	margin: 1.5em auto;
}

.sponsors-divider {
	border-top: 1px solid #634772;
	max-width: 200px;
	width: 100%;
	margin: 0 auto;
}





.wavy-top {
	background-color: #C4D5E0;
	margin-top: -10vw;
	position: relative;
	z-index: 0;
	padding-top: 14vw;
	padding-bottom: 300px;
}

.wavy-top::before {
	content: "";
	position: absolute;
	top: -16vw;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('/resources/images/home-curvey-bg.svg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	z-index: -1;
}

.bgtext {
	color: #86A6A3;
	opacity: .5;
	width: 90%;
	min-width: 65vw;
	max-width: 1200px;
	font-size: min(15vw, 300px);
	text-align: center;
	line-height: .85;
	font-weight: 800;
	text-transform: uppercase;
	mix-blend-mode: color-burn;
	pointer-events: none;
	
	position: absolute;
	top: 5vw;
	left: 50%;
	transform: translateX(-50%);
}

.bgtext .site-on {
	font-size: 85%;
}

.wavy-top h2 {
	color: #003E4B;
	font-size: min(3vw, 52px);
	text-align: center;
	width: 60vw;
	max-width: 950px;
	font-weight: normal;
	margin: 0 auto 200px;
	line-height: 2.5em;
}

.wavy-top h2 b,
.section-upset b {
	font-weight: 800;
}



.section-upset {
	background: white;
	max-width: 1600px;
	margin: -350px auto 0;
	padding: 100px 50px 0;
	border-radius: 20px;
	z-index: 0;
	position: relative;
	box-shadow: 0 -15px 20px -2px rgb(0 0 0 / .1);
}

.section-upset h2 {
	background: linear-gradient(195deg, rgb(6, 79, 107) 25%, rgba(139, 189, 224, 1) 49%, rgb(72, 129, 164)50%, rgb(8, 44, 58) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;

	font-size: 80px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 100px;
	max-width: none;
}








.testimonials-container {
	height: 100vh;
	position: relative;
}
.testimonials {
	--testimonial-spacing: 25px;
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	gap: var(--testimonial-spacing);
	padding-top: 150px;
	padding-bottom: 150px;
	height: 100%;
	overflow-y: auto;
}
.testimonials-container::before {
	content: "";
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 400px, rgba(255,255,255,0) 600px, rgba(255,255,255,1) 100%);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	z-index: 1;
}
.testimonial-picture {
	width: 60px;
	border-radius: 50%;
}
.testimonial {
	display: flex;
	align-items: flex-start;
	gap: 1em;
	border: 1px solid rgb(222, 233, 240);
	border-radius: 5px;
	padding: 1em;
	margin: var(--testimonial-spacing) 0;
}
.testimonial-quote {
	margin-bottom: 1em;
	font-size: 16px;
	line-height: 1.4;
}
.testimonial-name,
.testimonial-role {
	font-size: 90%;
}
.testimonial-name {
	font-weight: bold;
	margin-bottom: .5em;
}
.testimonial-name::before {
	content: '—';
}
.testimonial-role {
	color: var(--text-color-muted);
	font-style: italic;
}




.smallstep {
	max-width: 150px;
	margin-top: 1em;
}

.gold {
	color: gold;
	background: linear-gradient(63deg, rgba(212,167,36,1) 8%, rgba(251,228,63,1) 50%, rgba(241,218,57,1) 75%); 
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.col .cite {
	font-size: 75%;
}

img.cite {
	max-width: 100%;
}


.demobox {
	position: relative;
	color: #003e4b;
	background: radial-gradient(circle at 200px 100px, rgba(184,255,239,1) 0%, rgba(234,249,255,1) 280px);
	font-size: 20px;
	padding: 50px;
	border-radius: 15px;
	margin-top: 200px;
}

.demobox h2 {
	position: absolute;
	top: -99px;
	font-size: 90px;
	font-weight: 700;
	white-space: nowrap;
	max-width: none;

	background: linear-gradient(0deg, rgba(27,180,186,1) 10%, rgba(0,61,75,1) 50%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.demobox p {
	margin-bottom: 2em;
}

.demo-ips {
	display: flex;
	gap: 2em;
}

.demo-ips code {
	background: #ecffff;
	display: flex;
	border-radius: 5px;
	box-shadow: 0 4px 16px rgb(0 0 0 / .1);
}

.record-type,
.demo-ip {
	display: block;
	padding: 10px 20px;
}

.record-type {
	color: #6ea9b7;
	border-right: 1px solid #cef4f1;
}

.demo-help {
	border-top: 1px solid #b5d3d9;
	font-size: 75%;
	color: #628991;
	font-family: Inter;
	max-width: 800px;
}

.demo-help p {
	margin: 10px 0;
}





.franken {
	background-color: #b3d133;
	color: #390075;
}


@media (max-width: 1350px) {
	h1 {
		font-size: 95px;
	}

	h1 .subheading {
		font-size: 30px;
	}
}


@media (max-width: 1000px) {
	h1 {
		text-align: center;
	}

	.action-buttons {
		margin-bottom: 55px;
		justify-content: center;
	}
}
