h1 {
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	font-size: 80px;
	text-align: center;
	margin: 100px auto;
}

.panels {
	display: flex;
}

.panels > * {
	flex: 1;
	margin: 0 50px;
}

.panels > :first-child {
	margin-left: 0;
}

p {
	margin: 1em 0;
	line-height: 1.5em;
}

@media (max-width: 900px) {
	h1 {
		font-size: 50px;
		margin: 50px auto;
	}

	.panels {
		flex-direction: column-reverse;
	}

	.panels > * {
		margin: 30px 0;
	}
}