body {
	font-family: 'Inter', sans-serif;
}

.hero {
	background-image: url('/resources/images/bg-teal.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
	background-position: center;
}

h1 {
	text-transform: uppercase;
	font-size: 70px;
	font-family: Montserrat, sans-serif;
	text-align: center;
	margin: 70px 0 20px;
}

h2 {
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	max-width: 60rem;
	margin: 0 auto 50px;
	line-height: 1.5em;
}

h3 {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 55px;
}

p {
	font-size: 20px;
	max-width: 600px;
	margin-top: 20px;
	line-height: 1.5em;
}

.download-container {
	text-align: center;
	margin-top: 50px;
}

.download-container .button.big {
	margin-bottom: 15px;
}

section {
	padding: 100px 0;
}

section.alternate:nth-child(even) {
	background-color: #f5f8f9;
}

section.alternate:nth-child(odd) .side-by-side {
	flex-direction: row-reverse;
}

.side-by-side {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.side-by-side > * {
	width: 48%;
}

.side-by-side img {
	max-height: 400px;
}

.code-caption {
	font-size: 24px;
	font-weight: bold;
	margin: 75px auto 20px;
}

code {
	font-family: 'PT Mono', monospace;
}

code.block {
	display: block;
	background: #2f2f2f;
	color: #eee;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	line-height: 1.25em;
	white-space: pre-wrap;
}

.actions {
	padding-top: 100px;
}

code.caddyfile {
	background-color: #dbebf3;
	color: black;
}

.cf-key {
	color: #d22500;
 	font-weight: bold;
}

.cf-comment {
	color: #7291a0;
}

.cf-dir {
	color: #006c96;
	font-weight: bold;
}

.cf-arg {
	color: #008000;
}

.cf-subdir {
	color: #835234;
}

code.rest {
	background-color: #f0f5f4; /*#073d59;*/
	color: #253a28;
}

.footnote {
	font-size: 18px;
	text-align: center;
}


@media (max-width: 1100px) {
	.side-by-side,
	section.alternate:nth-child(odd) .side-by-side {
		flex-direction: column;
	}
	section.alternate:nth-child(odd) .side-by-side > img {
		flex-direction: column-reverse;
		margin-bottom: 50px;
	}

	.side-by-side-content {
		margin-bottom: 50px;
	}

	.side-by-side > * {
		width: initial;
	}

	p {
		max-width: 900px;
	}
}

@media (max-width: 900px) {
	h1 {
		font-size: 50px;
		word-wrap: break-word;
	}

	h2 {
		font-size: 24px;
	}
}





















/* TODO: */
/* TAKEN FROM features.css */

.features-start {
	background: linear-gradient(0deg, #13a8f5 0%, #18b125 100%);
	color: white;
	padding: 35px 0;
}


.main-features {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 2rem;
}

.main-feature {
	text-align: center;
	padding: 0 2rem;
	margin: 3rem 0;
	width: 25%;
}

.main-feature img {
	height: 130px;
	margin-bottom: 15px;
}

.main-feature .title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 15px;
}

.main-feature p {
	text-align: left;
	font-size: 16px;
	margin: 0;
}

.feature-points {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 28px;
}

.feature-point {
	width: 33.333%;
	min-width: 300px;
	padding: 1rem 3rem;
}

#features-title {
	width: 80%;
	max-width: 700px;
	display: block;
	margin: 50px auto 0;
	position: relative;
	top: 40px;
}

.features-area h3 {
	border-bottom: 3px solid #2BABED;
}

.features-area h4 {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 40px;
	font-family: Montserrat, sans-serif;
	font-size: 40px;
}

.features-area h5 {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.section-heading {
	font-style: italic;
	font-size: 20px;
	line-height: 2rem;
	color: #000;
	max-width: 550px;
	text-align: center;
	margin: 2rem auto 0;
}

.features {
	display: flex;
	flex-wrap: wrap;
}

.feature {
	width: 33.333%;
	padding: 25px;
}

.feature p {
	margin-top: 5px;
	color: #333;
	font-size: 18px;
}

@media (max-width: 900px) {
	.main-feature {
		width: 50%;
		margin: 3rem 0;
		padding: 0 1rem;
	}

	.feature {
		width: 50%;
	}
}

@media (max-width: 700px) {
	.pitch {
		width: 100%;
		border-right: none;
	}

	.feature-highlight {
		padding: 1rem;
	}
}

@media (max-width: 500px) {
	.main-feature {
		width: 100%;
	}

	.feature {
		width: 100%;
	}
}