<!DOCTYPE html>
<html>
	<head>
		<title>Caddy for Business</title>
		{{import "/includes/head.html"}}
		{{template "head"}}
		<link rel="stylesheet" href="/resources/css/business.css{{template "cacheBust"}}">
		<meta property="og:title" content="Caddy 2 for Business">
		<meta name="twitter:title" value="Caddy 2 for Business">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div id="logo-container">
					<a href="/"><img src="/resources/images/caddy-logo.svg" id="logo" alt="Caddy"></a>
					<div id="zerossl-project">a <a href="https://zerossl.com"><img src="/resources/images/zerossl-logo.svg" id="zerossl-logo"></a> project</div>
				</div>
				{{include "/includes/header-nav.html"}}
			</header>

			<h1>Ready for business</h1>

			<section>
				<div class="panels">
					<div>
						<h2>Need help with something?</h2>
						<p>
							Most users should participate in our <a href="https://caddy.community">community forum</a> to help others and ask questions.
						</p>
						<p>
							The only price for this help is to put some effort into your question and say thank you. 😃
						</p>
					</div>
					<div>
						<h2>Support and development for businesses</h2>
						<p>
							We highly recommend that companies using Caddy get a support plan and contract any related development work with our exclusive partner <a href="https://www.ardanlabs.com/">Ardan Labs</a>. Contact us to get started:
						</p>
						<a href="m&#97;&#105;lto&#58;&#98;%&#55;5s%69&#37;6Eess&#64;ca&#37;64dys&#101;&#37;72&#118;er&#46;c%6F&#109;" class="button red">Email <b>business&#64;&#99;addy&#115;&#101;rver&#46;&#99;om</b></a>
					</div>
				</div>
			</section>
		</div>

		{{include "/includes/footer.html"}}

	</body>
</html>
