<!DOCTYPE html>
<html>
	<head>
		<title>Reset Password - Caddy</title>
		{{import "/includes/account/head.html"}}
		{{template "account-head"}}
		<script src="/resources/js/account/reset-password.js{{template "cacheBust"}}"></script>
	</head>
	<body>
		<form action="/api/reset-password" class="card" id="reset-password-step1">
			<section class="head">
				<a href="/"><img src="/resources/images/caddy-lock.png" alt="Caddy Portal" class="logo"></a>
			</section>
			<section>
				<h1>Reset Password</h1>
				<a href="javascript:" id="goto-step2">I already have a reset token</a>
				<div class="form-fields">
					<input type="email" name="email" id="email-step1" placeholder="Email address" required>
					<button type="submit" id="submit" class="blue">Continue</button>
				</div>
			</section>
		</form>
		<form action="/api/reset-password" class="card" id="reset-password-step2">
			<section class="head">
				<a href="/"><img src="/resources/images/caddy-lock.png" alt="Caddy Portal" class="logo"></a>
			</section>
			<section>
				<h1>Reset Password</h1>
				<a href="javascript:" id="goto-step1">I still need a reset token</a>
				<div class="form-fields">
					<input type="email" name="email" id="email-step2" placeholder="Email address" required>
					<input type="text" name="token" id="token" placeholder="Token" required>
					<input type="password" name="password" placeholder="New Password" required>
					<button type="submit" id="submit" class="blue">Finish Reset</button>
				</div>
			</section>
		</form>
	</body>
</html>
